body
{
margin:0px;
    background-color: red;
}
.navbar
{
    height:100px;
    background-color: red;
    color:whitesmoke;
    margin-bottom: 15px;
    text-align: center;
    font-size:50px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.down-menu
{
    height:100px;
    background-color:#ffde3a;;
    color: whitesmoke;
    margin-bottom: 15px;
    text-align: center;
    font-size:30px;
    font-style: italic;;
    display:flex;
    justify-content: center;
    align-items: center;
}

.main-container
{
    text-align: center;

}
